.btn {
    all: unset;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sm { 
    padding: 6px 12px; 
    font-size: 14px; 
}
.btn-md { 
    padding: 10px 16px; 
    font-size: 16px; 
}
.btn-lg { 
    padding: 10px; 
    font-size: 20px; 
    width: 32px;
    height: 32px;
}

.btn-pink { 
    background: var(--colorePrimario); 
    color: white; 
}
.btn-pink:hover { 
    background: #DD1063; 
}

.btn-gray { 
    background: #EBEBEB; 
    color: black;
}
.btn-gray:hover {  
    transform: scale(1.05);
}

.btn-smoke{
    background-color:  rgba(0, 0, 0, 0.7);
    border: 3px solid white;
}
.btn-smoke:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-disabled { 
    opacity: 0.5; 
    cursor: not-allowed; 
}

.btn-bounce {
    animation: bounce 300ms ease-out;
}

@keyframes bounce {
    0%   { transform: scale(1.05); }
    30%  { transform: scale(0.95); }
    50%  { transform: scale(1.1); }
    70%  { transform: scale(1.02); }
    100% { transform: scale(1.05); }
}

.pop-in{
    animation: popIn 0.2s forwards;
}
.pop-out{
    animation: popOut 0.5s forwards;
}

@keyframes popIn {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
@keyframes popOut {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}