:root{
    --desktop-list-width: 1830px;
    --desktop-list-height:820px;

    --laptop-list-width:1380px;
    --section-height: 260px;
}

@media (min-width:1921px) {

    footer{
        padding: 3rem 0 0 0;
    }

    hr{
        width: var(--desktop-list-width);
    }
    footer > div {
        width: var(--desktop-list-width);
    }

    footer div section{
        width: calc(var(--desktop-list-width) / 3);
        height: var(--section-height);
}
    footer div div ul li{
        width: calc(var(--desktop-list-width) / 6);
        height: calc(var(--desktop-list-height) / 17);
    }

}


@media (min-width:1440px) and (max-width: 1920px) {
    footer{
        padding: 3rem 3rem 0;
    }

    footer div hr{
        width: var(--laptop-list-width);
    }

    footer > hr{
        width: 100%;
    }

    footer > div:first-child {
        width: var(--laptop-list-width);
    }

    footer div div ul li{
        width: calc(var(--laptop-list-width) / 6);
        height: calc(var(--desktop-list-height) / 17);
    }

    footer > div:not(:first-child){
        width: 100%;
    }

    footer div section{
        width: 33%;
        height: var(--section-height);
}
}


footer {
    width: 100%;
    background: rgb(247, 247, 247);
    font-size: 14px;
}

footer h2 {
    font-size: 22px;
}

footer h3{
    font-size: 14px;
}

hr{
    border: 0.5px solid rgb(210, 210, 210, 1);
}

footer #button-container {
    margin: 20px 0 10px ;
    gap: 20px;
    height: 20px;
}

footer #button-container div {
    position: relative;
}

footer button{
    all: unset;
    height: 20px;
    color: var(--testiGrigi);
}

#footer-active-btn{
    color: black;
}

footer #button-container span {
    cursor: pointer;
}

footer #button-container .black-line{
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
}
.black-line#popular{
    width: 50px;
}

.black-line#coastal{
    width: 65px;
}
.black-line#historic{
    width: 130px;
}
.black-line#island{
    width: 30px;
}
.black-line#mountain{
    width: 65px;
}
.black-line#activity{
    width: 45px;
}
.black-line#category{
    width: 60px;
}

footer div div ul{
    width: inherit;
    flex-wrap: wrap;
}

footer div div ul li small{
    color: var(--testiGrigi);
}

footer #show-more svg{
    margin: 0 0 0 5px;
}

footer section #section-list li {
    height: calc(var(--section-height) / 7)
}

footer > div:last-child{
    margin: 0 0 1rem 0 ;
}

footer #bottom-side div:first-child{
    gap: 10px;
}

footer #bottom-side div:first-child > a{
    cursor:pointer;
}

footer #bottom-side div:first-child > a:hover{
    text-decoration: underline;
}

footer #link-container {
    gap: 20px
}

footer #link-container button{
    flex-direction: row-reverse;
    gap: 5px;
}

footer #link-container #links{
    gap: 20px;
    font-size: 20px;
}

footer #link-container #links a{
    height: fit-content;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer #link-container #links a:hover{
    background-color: var(--hoverSearch);
}

#section-container{
    margin: 6rem 0 3rem 0;
}