:root{
    --hover: #EBEBEB;
    --city-list-width: 26.875rem;
    --city-list-height: 33.75rem;
}


.wrapper {
    width: 56.25rem;
    height: 4.25rem;
    border:0.063rem solid #DDDDDD;
    border-radius: 3.125rem;
    position: relative;
<<<<<<< HEAD
    margin: 0.625rem 0 1.25rem;
=======
    margin: 0.625rem 0 1.25rem 0;
>>>>>>> fdf26b4880911f4e3bd0f72a746da2ef05c242a4
    font-size: 0.75rem;
    cursor: pointer;
}

.wrapper-active {
    background-color: #b1b1b1;
}

#where {
    width: 17.5rem;
    height: inherit;
    border-radius: inherit;
    box-sizing: border-box;
    padding: 1rem 2rem;
    position: relative;
}


#where input {
    border: none;
    background-color: inherit;
}

#check-in-container, #check-out-container{
    width: 10.625rem;
    height: inherit;
    border-radius: inherit;
    padding: 0 1.5rem;
    position: relative;
}

#check-in-container > button, #check-out-container >button{
  width: inherit;
}

#who{
    width: 17.5rem;
    height: inherit;
    border-radius: inherit;
    padding: 0 0 0 1.5rem;
    position: relative;
}

#where:hover, #check-in-container:hover, #check-out-container:hover, #who:hover {
    background-color: var(--hover);
}

.active{
    animation: wave 0.2s ease-out forwards;
}

.btn-container{
  width: 5rem;
  font-size: 1.5rem;
}

@keyframes wave {
  0% {
    background-color: var(--hover);
    background-image: radial-gradient(circle at center, white 0%, transparent 0%);
  }
  20% {
    background-image: radial-gradient(circle at center, white 20%, transparent 30%);
  }
  50% {
    background-image: radial-gradient(circle at center, white 50%, transparent 60%);
  }
  80% {
    background-image: radial-gradient(circle at center, white 80%, transparent 90%);
  }
  100% {
    background-color: white;
    background-image: radial-gradient(circle at center, white 100%, transparent 100%);
  }
}

#where .where-section{
  width: var(--city-list-width);
  height: var(--city-list-height);
  padding: 1.5rem 0.5rem;
  border-radius: 3.125rem;
  position: absolute;
  top: 5rem;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-light-container);
  z-index: 2;
}

#where ul {
  width: 98%;
  height: calc(var(--city-list-height) - calc(var(--city-list-height) * 0.12));
  margin: 1rem 0 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  font-size: 0.875rem;
}

#where .where-section li,
#where .where-section > small{
  margin: 0 1rem;
  padding: 0.5rem;
}

#where .where-section li{
  width: calc(var(--city-list-width) - calc(var(--city-list-width) * 0.15));
  gap: 1rem;
  border-radius: 0.625rem;
}

#where .where-section li small{
  color: var(--testiGrigi);
}

#where .where-section li:hover{
  background-color: var(--hover);
}

#where .where-section img{
  width: 3.5rem;
  height: 3.5rem;
}

#who section{
  width: 26.875rem;
  height: 26.25rem;
  padding: 2rem 3.5rem;
  background: white;
  box-shadow: var(--shadow-light-container);
  border-radius: 1.875rem;
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 2;
}

#who section > div {
  padding: 1.5rem 0.25rem 1.5rem 0;
}

#who section div span{
  padding: 0.25rem 0 0 0;
}

#who .disabled {
  color: rgba(128, 128, 128, 0.619);
  cursor: not-allowed;
}

.calendar-wrapper{
  z-index: 4;
}