:root {
  --fontFamily: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica Neue, sans-serif;
  --colorePrimario: #fd385c;
  --neroPrincipale: #222222;
  --testiGrigi: #6a6a6a;
  --hoverSearch: #ebebeb;
  --shadow-light-container: 0.5rem 0.5rem 1.5rem 0 rgb(233, 233, 237);
  --shadow-dark-container: 0.5rem 0.5rem 1.5rem 0 rgba(66, 68, 90, 1);
}

@font-face {
  font-family: "AirbnbCerealVF";
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Bd.otf);
}
@font-face {
  font-family: "AirbnbCerealVF";
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Bk.otf);
}
@font-face {
  font-family: "AirbnbCerealVF";
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Blk.otf);
}
@font-face {
  font-family: "AirbnbCerealVF";
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Lt.otf);
}
@font-face {
  font-family: "AirbnbCerealVF";
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Md.otf);
}
@font-face {
  font-family: "AirbnbCerealVF";
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_XBd.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
}

.modal-open {
  overflow: hidden;
}

a {
  all: unset;
  cursor: pointer;
}

.flex {
  display: flex;
}

.justyfy-start {
  justify-content: start;
}

.justyfy-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.logo {
  color: var(--colorePrimario);
  width: 3.5rem;
  height: 3.5rem;
}

.bounce-animation {
  animation: bounce 300ms ease-out !important;
}

@keyframes bounce {
  0% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.05);
  }
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}