:root {
  --fontFamily: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica Neue, sans-serif;
  --colorePrimario: #fd385c;
  --neroPrincipale: #222222;
  --testiGrigi: #6a6a6a;
  --hoverSearch: #ebebeb;
}
@font-face {
  font-family: 'AirbnbCerealVF';
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Bd.otf);
}
@font-face {
  font-family: 'AirbnbCerealVF';
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Bk.otf);
}
@font-face {
  font-family: 'AirbnbCerealVF';
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Blk.otf);
}
@font-face {
  font-family: 'AirbnbCerealVF';
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Lt.otf);
}
@font-face {
  font-family: 'AirbnbCerealVF';
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_Md.otf);
}
@font-face {
  font-family: 'AirbnbCerealVF';
  src: url(../assets/AirbnbCerealVF/AirbnbCereal_W_XBd.otf);
}
*{
  margin: 0;
  padding: 0  ;
}

a{
  all: unset;
  cursor: pointer;
}

.flex {
    display: flex;
}

.justyfy-start {
    justify-content: start;
}

.justyfy-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.bounce-animation {
    animation: bounce 300ms ease-out !important;
}

@keyframes bounce {
    0%   { transform: scale(1.05); }
    30%  { transform: scale(0.95); }
    50%  { transform: scale(1.1); }
    70%  { transform: scale(1.02); }
    100% { transform: scale(1.05); }
}
