:root {
  --gray: rgb(221, 221, 221);
  --test-rosa: #fc6480;
}

* {
  box-sizing: border-box;
}

.modal-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: modalAnimation 0.3s ease-out forwards;
}

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.close-modal-button,
.close-modal-button > svg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.close-modal-button:hover {
  background-color: #ebebeb;
}

#host {
  width: 64.375rem;
  height: 40rem;
  background-color: white;
  border-radius: 3.125rem;
  padding: 2rem;
  box-shadow: var(--shadow-dark-container);
}

#host > div {
  padding: 1.5rem;
}

#host .icon {
  width: 16.25rem;
  height: 18.75rem;
  border: 0.063rem solid var(--testiGrigi);
  border-radius: 1.25rem;
  margin: 0 auto;
}

.icon > svg {
  width: 6rem;
  height: 6rem;
}

.icon > span {
  margin: 2.5rem 0 0 0;
}

#host button:last-of-type {
  margin: 0 1.25rem 0 auto;
  width: 6.25rem;
  height: 3.125rem;
  background-color: black;
  color: white;
  border-radius: 0.625rem;
}

.close-modal-button,
#host div {
  cursor: pointer;
}

#host .active {
  border: 0.125rem solid black;
}

#host #disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}

#language {
  width: 64.375rem;
  height: 58.125rem;
  background: white;
  box-shadow: var(--shadow-dark-container);
  padding: 2rem;
  border-radius: 3.125rem;
}

#language button:first-of-type {
  margin: 0 0 2rem 0;
}

#language .select {
  width: 100%;
  height: 3.188rem;
}

#language .select > span {
  padding: 0.625rem;
  border-radius: 0.625rem;
}

#language .select > span:hover,
#language section li:hover {
  background-color: var(--test-rosa);
}

#language #region .translation {
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: var(--test-rosa);
  border-radius: 0.625rem;
  width: 25rem;
}

#language .suggested ul {
  width: 100%;
  gap: 0.625rem;
}

#language .suggested ul li {
  width: 20%;
  border-radius: 0.625rem;
  padding: 0.5rem;
}

#language .language-chosen {
  height: 29.063rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

#language .list {
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#language .list li {
  display: flex;
  flex-direction: column;
  width: 20%;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#language .list-section h3 {
  margin: 1.25rem 0;
}

#language > .list-section > ul {
  height: 41.875rem;
}

#language > .list-section > ul > li {
  height: 10%;
}

#form-cuore {
  width: 35.625rem;
  height: 42.188rem;
  background-color: #fff;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 2.188rem;
  box-shadow: 0 0.313rem 1.25rem rgba(0, 0, 0, 0.1);
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#accedi-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#h4-accedi {
  margin: 1.125rem;
  font-weight: 600;
}

#hr {
  width: 35.625rem;
  border: none;
  border-top: 0.063rem solid rgb(215, 215, 215);
  position: relative;
  right: 0;
  margin: 0;
}

#numero-container select {
  width: 32.5rem;
  height: 3.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 0.063rem solid rgb(130, 130, 130);
  border-bottom: none;
}

#select {
  display: flex;
  position: relative;
  width: 32.5rem;
  height: 3.5rem;
  overflow: hidden;
}

#testo-paese {
  position: absolute;
  margin-left: 15px;
  margin-top: 0.188rem;
  color: rgb(130, 130, 130);
  font-weight: 400;
  font-size: 0.7rem;
}

#select-prefissi:active,
#input-numero:active {
  border: 0.188rem solid black;
}

#numero-container input {
  width: 32.5rem;
  height: 3.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0.063rem solid rgb(130, 130, 130);
  text-indent: 0.625rem;
}

#select-prefissi {
  text-indent: 0.625rem;
  font-size: 1rem;
}

#input-numero::placeholder {
  font-size: 1rem;
  text-indent: 0.625rem;
}

#h3-benvenuto {
  font-size: 1.4rem;
  font-weight: 430;
  margin-top: 2.188rem;
  margin-bottom: 1.563rem;
}

#testo {
  margin-bottom: 0;
  margin-top: 0.375rem;
  font-size: 0.9rem;
  line-height: 110%;
}

#link-privacy {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

#btn-continua {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

#continua-container button {
  width: 32.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.063rem solid black;
  cursor: pointer;
}

#svg-google img,
#svg-apple img,
#svg-email img,
#svg-fb img {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 1.25rem;
  top: 0.75rem;
}

#continua-container {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

div#google,
div#apple,
div#email,
div#facebook {
  font-weight: 550;
  font-size: 0.9rem;
}

#btn-close {
  width: 1.875rem;
  height: 1.875rem;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.125rem;
  left: 2.125rem;
}

#btn-close > svg {
  width: 1.563rem;
  height: 1.563rem;
}

#btn-close:hover {
  background-color: #f6f6f6;
}

#btn-continua-main {
  width: 32.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(230, 30, 77, 1) 0%,
    rgba(227, 28, 95, 1) 82%,
    rgba(215, 4, 102, 1) 100%
  );
  color: white;
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
}

div#container-hr {
  display: flex;
  align-items: center;
  width: 100%;
}

#hr-continua {
  right: 0;
  width: 35.625rem;
  border: none;
  border-top: 1px solid rgb(215, 215, 215);
  position: relative;
  right: 0;
  margin-top: 1.875rem;
  margin-bottom: 1.375rem;
}

#o {
  padding: 0 0.625rem;
  font-size: 0.9rem;
  margin-top: 0.313rem;
}

#btn-cuore {
  all: unset;
  cursor: pointer;
}

#btn-cuore > svg {
  width: 2.5rem;
  height: 2.5rem;
}

#finestra-cane {
  width: 568px;
  height: 42.188rem;
  background-color: #fff;
  border-radius: 2.188rem;
  box-shadow: 0 0.313rem 1.25rem rgba(0, 0, 0, 0.1);
}

#btn-cane {
  height: 50px;
}

#img-testo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#immagine-cane {
  text-align: center;
}

#immagine-cane img {
  width: 520px;
}

#testo-animali {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

#animali-titolo,
#p-animali,
#p-animali2 {
  text-align: left;
  margin: 10px 0;
}

#animali-titolo {
  font-weight: 500;
}

#p-animali,
#p-animali2 {
  font-weight: 300;
}
